.emergency-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: red;
  color: white;
  z-index: 998;
}

vaadin-context-menu-overlay {
  z-index: 999;
}

.chat-view-container {
  padding: 0;
}

.chat-view-container vaadin-list-box {
  width: 450px;
  min-width: 150px;
  max-width: 450px;
}

.chat-view-container vaadin-item {
  height: 80px;
  border-radius: 0;
  text-align: center;
}

.chat-view-container vaadin-item:hover {
  background-color: rgba(228, 233, 237, 0.5);
}

.chat-view-container vaadin-item[selected] {
  background-color: rgba(228, 233, 237, 1);
}

.chat-view-container vaadin-item::before {
  content: none;
}

.app-title {
  margin-left: 16px;
}

.timeline-container {
  overflow: hidden;
}

.timeline-container pure-timeline {
  width: 100%;
}